[user]
    name = Joel Kottas
    email = sumnon@cj3.org

[core]
    editor = vim
    abbrev = 16
    excludesfile = ~/.gitignore
    pager = less -XFR
    whitespace = space-before-tab,trailing-space
    ignorecase = false

[add]
    ignoreErrors = true

[merge]
    tool = vimdiff
    conflictstyle = diff3
    stat = true
    renameLimit = 1000000000

[rebase]
    stat = true

[rerere]
    enabled = true

[credential]
    helper = cache

[push]
    default = simple

[pull]
    rebase = true

[diff]
    mnemonicprefix = true
    renames = copies
    renameLimit = 1000000000

[advice]
    pushUpdateRejected = false
    statusHints = false
    commitBeforeMerge = false
    resolveConflict = false
    detachedHead = false

[help]
    autocorrect = 20

[alias]
    abbrev-head = !echo 'ref: HEAD' >.git/h
    no-abbrev-head = !rm -f .git/h

    unstage = reset HEAD --

    df = diff
    dfc = diff --color=always
    dfw = diff --word-diff
    dfcw = diff --word-diff=color
    dfwc = diff --word-diff --color=always
    dfi = diff --cached
    dfic = diff --cached --color=always
    dfiw = diff --cached --word-diff
    dficw = diff --cached --word-diff=color
    dfiwc = diff --cached --word-diff --color=always
    dt = difftool -y

    ss = stash
    sp = stash pop
    sa = stash apply

    st = status
    stat = status

    cm = commit -v
    cma = !git add . && git commit -v
    cmd = commit -v --amend --reset-date

    cp = cherry-pick

    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbs = rebase --skip
    rbm = rebase master
    rbi = rebase -i
    mg = "!f() { git merge --no-commit --log \"$@\" && git commit -v; }; f"
    mt = mergetool

    wipe = !git commit -aqm 'WIPE COMMIT' && git reset --hard HEAD^
    wp = !git wipe

    sw = show

    # git bisect requires being in top repo dir
    bs = !git bisect
    bss = !git bisect start
    bse = !git bisect reset
    bsg = !git bisect good
    bsb = !git bisect bad

# Logging

    last = log -1
    laste = log -1 --patch --stat

    lge = log --patch --stat

    # General overview log
    lg = log --graph --abbrev=4 "--pretty=format:'%C(auto,yellow)#%h%C(auto,\
reset) {%s}%C(auto,green)%d%C(auto,reset)'"

    # Log for dates
    lgd = log --graph --abbrev=4 \
        "--pretty=format:'%C(auto,yellow)#%h%C(auto,reset) \
{%s}%C(auto,green)%d%C(auto,reset)%n\
<A: %C(auto,cyan)%ai%C(auto,reset) %C(auto,green)(%ar)%C(auto,reset)> \
<C: %C(auto,cyan)%ci%C(auto,reset) %C(auto,green)(%cr)%C(auto,reset)>'"

    # Log for names
    lgn = log --graph --abbrev=4 \
        "--pretty=format:'%C(auto,yellow)#%h%C(auto,reset) \
{%s}%C(auto,green)%d%C(auto,reset)%n\
<A: %C(auto,red)%aN%C(auto,reset) <%C(auto,magenta)%aE%C(auto,reset)>> \
<C: %C(auto,red)%cN%C(auto,reset) <%C(auto,magenta)%cE%C(auto,reset)>>'"

    # Logs for both names and dates

    lgdn = log --graph --abbrev=4 \
        "--pretty=format:'%C(auto,yellow)#%h%C(auto,reset) \
{%s}%C(auto,green)%d%C(auto,reset)%n\
<A: %C(auto,cyan)%ai%C(auto,reset) %C(auto,green)(%ar)%C(auto,reset)> \
<C: %C(auto,cyan)%ci%C(auto,reset) %C(auto,green)(%cr)%C(auto,reset)>%n\
<A: %C(auto,red)%aN%C(auto,reset) <%C(auto,magenta)%aE%C(auto,reset)>> \
<C: %C(auto,red)%cN%C(auto,reset) <%C(auto,magenta)%cE%C(auto,reset)>>'"

    lgnd = log --graph --abbrev=4 \
        "--pretty=format:'%C(auto,yellow)#%h%C(auto,reset) \
{%s}%C(auto,green)%d%C(auto,reset)%n\
<A: %C(auto,red)%aN%C(auto,reset) <%C(auto,magenta)%aE%C(auto,reset)>> \
<C: %C(auto,red)%cN%C(auto,reset) <%C(auto,magenta)%cE%C(auto,reset)>>%n\
<A: %C(auto,cyan)%ai%C(auto,reset) %C(auto,green)(%ar)%C(auto,reset)> \
<C: %C(auto,cyan)%ci%C(auto,reset) %C(auto,green)(%cr)%C(auto,reset)>'"

    # TODO - logs for detailed descriptions

    lga = !git lg --all
    lgda = !git lgd --all
    lgna = !git lgn --all
    lgnda = !git lgnd --all
    lgdna = !git lgdn --all

    lgc = !git lg --color=always
    lgdc = !git lgd --color=always
    lgnc = !git lgn --color=always
    lgndc = !git lgnd --color=always
    lgdnc = !git lgdn --color=always

    lgac = !git lg --all --color=always
    lgdac = !git lgd --all --color=always
    lgnac = !git lgn --all --color=always
    lgndac = !git lgnd --all --color=always
    lgdnac = !git lgdn --all --color=always

    lgca = !git lg --color=always --all
    lgdca = !git lgd --color=always --all
    lgnca = !git lgn --color=always --all
    lgndca = !git lgnd --color=always --all
    lgdnca = !git lgdn --color=always --all

# Where am I?

    br = branch
    co = checkout
    com = checkout master
    cob = checkout -b

# Remotes

    fa = fetch --all
    up = pull --ff-only
    upa = update-all

    ps = push
    pl = pull

# Github

    hub = "!f() { git clone \"github:$1/$2.git\"; }; f"

    pr = !git pull-requests
